<!DOCTYPE HTML>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="robots" content="noindex, nofollow">
  <title>flask_git_ynh private</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
  {% block stylesheets %}
  {% endblock %}
</head>
<body>
  <header>
    <h1>Admin flask_git_ynh</h1>

    <nav>
      <ul>
        <li><a href="{{ url_for('admin.posts') }}">Admin accueil</a></li>
        {% block nav %}
        {% endblock %}
      </ul>
    </nav>
  </header>

  <main>
    {% block main %}
    {% endblock %}
  </main>

  <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
  {% block scripts %}
  {% endblock %}
</body>
</html>
