<!DOCTYPE HTML>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="robots" content="noindex, nofollow">
  <title>flask_git_ynh private</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/vendors/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
  {% block stylesheets %}
  {% endblock %}
</head>
<body class="m-4">
  <header class="mb-5">
    <h1>Admin flask_git_ynh</h1>

    <nav>
      <ul>
        <li><a href="{{ url_for('admin.posts') }}">Admin Home</a></li>
        <li><a href="{{ url_for('client.posts') }}">App Home</a></li>
        {% block nav %}
        {% endblock %}
      </ul>
    </nav>
  </header>

  <main>
    {% with flash_msgs = get_flashed_messages(with_categories=true) %}
    {% if flash_msgs %}
    <div class="flash">
        {% for category, message in flash_msgs %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% block main %}
    {% endblock %}
  </main>

  <script src="{{ url_for('static', filename='js/vendors/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/admin.js') }}" type="module"></script>
  {% block scripts %}
  {% endblock %}
</body>
</html>
