{% extends "admin/index.html" %}

{% block main %}
<h2>{{ title }}</h2>

<form action="" method="post">
  {{ form.hidden_tag() }}

  {% for item in form %}
  {% if item.type not in ['CSRFTokenField', 'SubmitField', 'HiddenField', 'FieldList'] %}
  <p>
    {{ item.label }}<br>
    {{ item }}<br>

    {% for error in item.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  {% endif %}
  {% endfor %}

  <p>{{ form.submit(class='btn btn-success') }}</p>
</form>

{% if upload %}
<div class="mt-5">
  {{ form.medias.label }}
  <ul>
    {% for img in form.medias %}
    <li>
      <img src="{{ url_for('uploads.static', filename=img.filename.data) }}" style="max-width: 300px;">
      <form action="{{ url_for('admin.delete_file', id=id) }}" method="post">
      <input hidden name="filename" value={{ img.filename.data }}>
      {{ img.delete(class='btn btn-danger') }}
      </form>
    </li>
    {% endfor %}
  </ul>

  <form action="{{ url_for('admin.upload_file', id=id) }}" method="post" enctype=multipart/form-data>
    {{ upload.file }}
    {{ upload.submit(class='btn btn-success') }}
  </form>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{% endblock %}
